# LOCALHOST
NUXT_PUBLIC_API_URL=http://0.0.0.0:8055

# ANDROID DEVELOPMENT >> get your IP of the wifi >> hostname -I
# NUXT_PUBLIC_API_URL=http://192.168.0.20:8055

# Cloudflare Turnstile — always pass test key
# https://developers.cloudflare.com/turnstile/troubleshooting/testing/
NUXT_PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA